# Data Analysis in Python Workshop
Andr√© Guerra, andre.guerra@mail.mcgill.ca \
April, 2021 \
<u>Desciption:</u> This workshop focuses on data analysis techniques using python.

This notebook examines the grouping capability in pandas dataframes (DF).

___
## Jupyter notebooks
Some useful shortcuts to use in Jupyter notebooks.

When outside a cell:
- <b>A</b>: insert a cell above the current
- <b>B</b>: insert a cell below the current
- <b>D,D</b>: delete the current cell
- <b>M</b>: make the current cell markdown type
- <b>Y</b>: make the current cell code type

When inside a cell:
- <b>shift + enter</b>: execute/run cell
- <b>cmd + /</b>: comment/uncomment a line of code

___
## Data handling using pandas package
pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language. \
https://pandas.pydata.org/

___
## Import statement(s)
Import the package(s) and assign it to a local variable(s) for use in our code.

In [14]:
import pandas as pd

Set decimal precision in returned values in a dataframe.

In [15]:
pd.set_option("precision",3)

___
## Read data files
### .cvs files
We use the attribute <b>read_csv()</b> in the pandas module. The local variable assigned in the import, <b>pd</b>, is used to call the attribute. The target file name is used as an input parameter.

In [16]:
heart_file = "1_data\heart.csv"
heart_DF = pd.read_csv(heart_file)

### .xlsx files
We use the attribute <b>read_excel()</b> in the pandas module. The local variable assigned in the import, <b>pd</b>, is used to call the attribute. The target file name is used as an input parameter.

In [17]:
covid19_file = "1_data\covid_19_data.xlsx"
covid_DF = pd.read_excel(covid19_file)

___
## Preview the data read in
We use the attribute DF.<b>head()</b> in a pandas dataframe to output the first 5 entries of the dataframe.\
Here we have previously defined the DF heart_DF to contain the heart patient data.

In [18]:
covid_DF.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0

___
## Information on the data read in
Learn about the data saved to the dataframes defined above by using the attribute DF.<b>info()</b>. We can find out about the number of entries, column names, data types for each, etc.

In [19]:
covid_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68558 entries, 0 to 68557
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              68558 non-null  int64
 1   ObservationDate  68558 non-null  object
 2   Province/State   44125 non-null  object
 3   Country/Region   68558 non-null  object
 4   Last Update      68558 non-null  object
 5   Confirmed        68558 non-null  int64
 6   Deaths           68558 non-null  int64
 7   Recovered        68558 non-null  int64
dtypes: int64(4), object(4)
memory usage: 4.2+ MB

___
## Grouping data
We can group data from our dataframe to help us analyze it.
### Single variable grouping
Group the covid19 data in our DF based on the `Country/region` column and save it to a new DF variable. Then we can apply descriptive statistics to the grouped DF.

In [20]:
covid_by_region = covid_DF.groupby('Country/Region')
covid_by_region.describe()

                                  SNo                                 \
                                count       mean        std      min
Country/Region
 Azerbaijan                       1.0   2664.000        NaN   2664.0
('St. Martin',)                   1.0   4675.000        NaN   4675.0
Afghanistan                     148.0  26740.655  19113.840   2259.0
Albania                         134.0  29211.373  18405.702   4403.0
Algeria                         147.0  26901.238  19080.268   2353.0
...                               ...        ...        ...      ...
Western Sahara                  107.0  34790.879  16645.866  12105.0
Yemen                           102.0  35872.559  16295.763  13706.0
Zambia                          125.0  31104.264  17853.482   6685.0
Zimbabwe                        123.0  31499.992  17724.386   7300.0
occupied Palestinian territory    7.0   5543.286    675.374   4593.0

                                                                      \
                                     25%      50%       75%      max
Country/Region
 Azerbaijan                      2664.00   2664.0   2664.00   2664.0
('St. Martin',)                  4675.00   4675.0   4675.00   4675.0
Afghanistan                     10591.75  22351.5  40988.25  67817.0
Albania                         13930.25  24641.5  43540.75  67818.0
Algeria                         10828.50  22515.0  41172.50  67819.0
...                                  ...      ...       ...      ...
Western Sahara                  20592.50  30502.0  48625.50  67981.0
Yemen                           21804.75  31887.5  49537.75  67982.0
Zambia                          16269.00  26516.0  45347.00  67983.0
Zimbabwe                        16750.00  26892.0  45712.50  67984.0
occupied Palestinian territory   5044.00   5632.0   6026.00   6438.0

                               Confirmed             ...  Deaths          \
                                   count       mean  ...     75%     max
Country/Region                                       ...
 Azerbaijan                          1.0      1.000  ...    0.00     0.0
('St. Martin',)                      1.0      2.000  ...    0.00     0.0
Afghanistan                        148.0  11382.993  ...  456.00  1185.0
Albania                            134.0   1229.388  ...   37.75   113.0
Algeria                            147.0   6781.415  ...  763.50  1087.0
...                                  ...        ...  ...     ...     ...
Western Sahara                     107.0      7.766  ...    1.00     1.0
Yemen                              102.0    544.480  ...  284.50   447.0
Zambia                             125.0    811.568  ...   11.00   128.0
Zimbabwe                           123.0    283.496  ...    4.00    26.0
occupied Palestinian territory       7.0      3.571  ...    0.00     0.0

                               Recovered                                  \
                                   count      mean       std  min    25%
Country/Region
 Azerbaijan                          1.0     0.000       NaN  0.0    0.0
('St. Martin',)                      1.0     0.000       NaN  0.0    0.0
Afghanistan                        148.0  4231.432  7222.423  0.0    5.0
Albania                            134.0   752.403   631.527  0.0  202.0
Algeria                            147.0  4302.918  4659.176  0.0   65.0
...                                  ...       ...       ...  ...    ...
Western Sahara                     107.0     5.533     2.738  0.0    5.0
Yemen                              102.0   179.765   255.903  0.0    1.0
Zambia                             125.0   558.736   571.335  0.0   33.0
Zimbabwe                           123.0    69.976   115.887  0.0    2.0
occupied Palestinian territory       7.0     0.000     0.000  0.0    0.0


                                   50%      75%      max
Country/Region
 Azerbaijan                        0.0     0.00      0.0
('St. Martin',)                    0.0     0.00      0.0
Afghanistan                      470.0  4332.00  23741.0
Albania                          699.5  1073.75   2352.0
Algeria                         2467.0  7513.00  16400.0
...                                ...      ...      ...
Western Sahara                     6.0     8.00      8.0
Yemen                             13.5   384.25    714.0
Zambia                           192.0  1194.00   1620.0
Zimbabwe                          18.0    63.00    472.0
occupied Palestinian territory     0.0     0.00      0.0

[223 rows x 32 columns]

In the case above, we end up with a large DF containing the descriptive statistics on all numerical columns of the original DF. However, not all numerical columns contain data adequate for descriptive statistics. For instance, the `SNo` column is like an index, so we can eliminate it from our statistical analysis grouped by `Country/Region` using our slicing techniques from a previous section.

In [21]:
covid_by_region2 = covid_DF.groupby('Country/Region')
covid_by_region2[['Confirmed','Deaths']].describe()

                               Confirmed                                     \
                                   count       mean        std  min     25%
Country/Region
 Azerbaijan                          1.0      1.000        NaN  1.0    1.00
('St. Martin',)                      1.0      2.000        NaN  2.0    2.00
Afghanistan                        148.0  11382.993  13193.938  1.0  221.25
Albania                            134.0   1229.388   1083.007  2.0  436.25
Algeria                            147.0   6781.415   6371.519  1.0  916.50
...                                  ...        ...        ...  ...     ...
Western Sahara                     107.0      7.766      1.989  4.0    6.00
Yemen                              102.0    544.480    550.678  1.0   22.75
Zambia                             125.0    811.568    781.733  2.0   57.00
Zimbabwe                           123.0    283.496    387.230  1.0   25.00
occupied Palestinian territory       7.0      3.571      9.449  0.0    0.00

                                                          Deaths           \
                                   50%       75%      max  count     mean
Country/Region
 Azerbaijan                        1.0      1.00      1.0    1.0    0.000
('St. Martin',)                    2.0      2.00      2.0    1.0    0.000
Afghanistan                     3670.5  24268.00  35526.0  148.0  273.716
Albania                          907.0   1709.50   4171.0  134.0   35.851
Algeria                         5369.0  10864.50  23691.0  147.0  476.442
...                                ...       ...      ...    ...      ...
Western Sahara                     9.0     10.00     10.0  107.0    0.523
Yemen                            316.5   1060.75   1619.0  102.0  141.441
Zambia                           772.0   1430.00   3326.0  125.0   13.592
Zimbabwe                          48.0    479.00   1713.0  123.0    5.407
occupied Palestinian territory     0.0      0.00     25.0    7.0    0.000


                                    std  min    25%    50%     75%     max
Country/Region
 Azerbaijan                         NaN  0.0   0.00    0.0    0.00     0.0
('St. Martin',)                     NaN  0.0   0.00    0.0    0.00     0.0
Afghanistan                     346.875  0.0   4.00  107.5  456.00  1185.0
Albania                          26.498  0.0  23.00   31.0   37.75   113.0
Algeria                         351.508  0.0  72.00  488.0  763.50  1087.0
...                                 ...  ...    ...    ...     ...     ...
Western Sahara                    0.502  0.0   0.00    1.0    1.00     1.0
Yemen                           152.968  0.0   4.25   78.5  284.50   447.0
Zambia                           22.685  0.0   2.00    7.0   11.00   128.0
Zimbabwe                          5.359  0.0   3.00    4.0    4.00    26.0
occupied Palestinian territory    0.000  0.0   0.00    0.0    0.00     0.0

[223 rows x 16 columns]

### Multivariate grouping
Select more than one property/column to group our data by. Here we can select `Country/Region` and `Province/State`. Then, we perform descriptive statistics on the `Deaths` column.

In [22]:
covid_by_region_state = covid_DF.groupby(['Country/Region','Province/State'])
covid_by_region_state['Deaths'].describe()

                                             count    mean     std   min  \
Country/Region Province/State
Australia      Australian Capital Territory  130.0   2.446   1.057   0.0
               Diamond Princess cruise ship   12.0   0.000   0.000   0.0
               External territories            1.0   0.000     NaN   0.0
               From Diamond Princess          18.0   0.000   0.000   0.0
               Jervis Bay Territory            1.0   0.000     NaN   0.0
...                                            ...     ...     ...   ...
Ukraine        Vinnytsia Oblast               50.0  27.640   7.241  16.0
               Volyn Oblast                   50.0  54.740  15.988  26.0
               Zakarpattia Oblast             50.0  80.260  43.640  28.0
               Zaporizhia Oblast              50.0  16.800   2.129  13.0
               Zhytomyr Oblast                50.0  24.980   7.229  14.0

                                               25%   50%     75%    max
Country/Region Province/State
Australia      Australian Capital Territory   2.25   3.0    3.00    3.0
               Diamond Princess cruise ship   0.00   0.0    0.00    0.0
               External territories           0.00   0.0    0.00    0.0
               From Diamond Princess          0.00   0.0    0.00    0.0
               Jervis Bay Territory           0.00   0.0    0.00    0.0
...                                            ...   ...     ...    ...
Ukraine        Vinnytsia Oblast              21.50  28.0   32.75   40.0
               Volyn Oblast                  41.25  58.0   70.75   75.0
               Zakarpattia Oblast            39.25  71.5  120.00  155.0
               Zaporizhia Oblast             16.00  17.0   18.00   20.0
               Zhytomyr Oblast               17.50  26.5   31.50   34.0

[742 rows x 8 columns]

To narrow our search in the data, we slice out instances of Australia in `Country/Region`, group by `Province/State`, take the `Deaths` column, and apply descriptive statistics.

In [23]:
covid_DF[covid_DF['Country/Region'] == 'Australia'].groupby('Province/State')['Confirmed'].describe()

,count,mean,std,min,25%,50%,75%,max
Province/State,,,,,,,,
Australian Capital Territory,130.0,95.231,29.584,1.0,103.00,107.0,108.0,113.0
Diamond Princess cruise ship,12.0,0.000,0.000,0.0,0.00,0.0,0.0,0.0
External territories,1.0,0.000,NaN,0.0,0.00,0.0,0.0,0.0
From Diamond Princess,18.0,3.056,3.605,0.0,0.00,0.0,7.0,8.0
Jervis Bay Territory,1.0,0.000,NaN,0.0,0.00,0.0,0.0,0.0
New South Wales,176.0,2039.057,1425.625,4.0,62.50,2979.0,3110.5,3599.0
Northern Territory,139.0,23.878,10.183,0.0,27.50,29.0,29.0,31.0
Queensland,173.0,702.994,466.310,2.0,35.00,1026.0,1062.0,1072.0
South Australia,171.0,299.082,194.523,1.0,19.50,438.0,440.0,444.0
Tasmania,141.0,167.163,86.863,1.0,86.00,227.0,228.0,229.0
Victoria,176.0,1275.409,1245.729,1.0,20.25,1340.0,1685.5,6289.0
Western Australia,143.0,461.965,214.274,2.0,444.50,552.0,602.0,651.0

___
## Writing data out to .csv and .xlsx files
Use the DF attribute <b>.to_excel()</b> to save the data to an excel file.

In [24]:
covid_by_region_state['Deaths'].describe().to_excel('2_proc_data\Covid_deaths_by_region_desc_stats.xlsx',index=True)

Use the DF attribute <b>.to_csv()</b> to save the data to a .csv file.

In [25]:
covid_by_region_state['Deaths'].describe().to_csv('2_proc_data\Covid_deaths_by_region_desc_stats.csv',index=True)